.top {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	span {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		line-height: 75px;
		color: #131212;
		text-transform: capitalize;
	}
}

.card__box {
	&__top {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		margin-bottom: 10px;
		&__name {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			text-transform: uppercase;
			color: #131212;
		}
		&__price {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 30px;

			color: rgba(0, 0, 0, 0.7);
		}
	}
	&__bot {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 21px;
		color: rgba(0, 0, 0, 0.7);
		margin-bottom: 30px;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.card {
		display: grid;
		grid-template-columns: 1fr;
		margin: 30px 100px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.card {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 30px 100px;
		gap: 10px 20px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.card {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 30px 100px;
		gap: 10px 20px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.card {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 30px 100px;
		gap: 10px 20px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.card {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: 30px 100px;
		gap: 10px 20px;
	}
}
